name: "Website generator"
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-web:
    name: "Build website"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: "Run python script"
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: "Checkout docs branch"
        run: git checkout docs
      - name: "Run script"
        run: python main.py
      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: docs
          commit_message: "Update website"

